nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  z-index: 1;
  transition: 1s;
}
nav.scrollNav {
  background: rgba(0, 3, 3, 0.5);
  height: 90px;
  padding: 20px 200px;
}
nav .logo {
  float: left;
  position: absolute;
  left: 5%;
}
nav .logo img {
  height: 80px;
  transition: 0.5s;
}
nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  line-height: 80px;
  color: #262626;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
nav ul li .active,
nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
  background: #f00;
}

.rwd-bar {
  display: none;
}
@media (max-width: 873px) {
  .rwd-bar {
    display: block;
    width: 100%;
    height: 60px;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    z-index: 2;
  }
  .rwd-bar .logo img {
    float: left;
    height: 50px;
  }

  .rwd-bar .menu h5 {
    float: right;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
  }
  nav.scrollNav {
    background: rgba(0, 3, 3, 0);
  }
  nav .logo {
    display: none;
  }
  nav ul {
    position: absolute;
    width: 100%;
    background: rgba(0, 3, 3, 0.5);
    top: 60px;
    float: none;
    display: none;
    left: 0;
  }
  nav .touch {
    display: block;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 30px !important;
    color: #fff;
  }
  nav ul li .active,
  nav ul li a:hover {
    color: #fff;
    border-radius: 0px;
    background: #f00;
  }
}
@media (max-width: 420px) {
  nav.scrollNav {
    padding: 0;
  }
  nav ul li .active,
  nav ul li a:hover {
    color: #fff;
    border-radius: 0px;
    background: #f00;
  }
}
